@model IndexViewModel
@inject IVehicleTypesSelectListService service

@{
    ViewData["Title"] = "Index";
}

<h1>Garage</h1>

<form asp-action = "Filter" asp-controller = "ParkedVehicles" method = "get">

<div class = "input-group mb-3">
    <input type = "text" class = "form-control" asp-for = "RegNbr" placeholder = "Sök efter registreringsnummer..." />
    <div class = "input-group-append">

    <select class = "form-control" asp-for = "VehicleType" asp-items = "@await service.GetVehicleTypesAsync()">

        <option selected = "selected" value = "">Välj fordonstyp</option>

    </select>
    </div>
    <div class = "input-group-append">
        <button type = "submit" class = "btn btn-outline-dark"><i>Sök</i></button>
    </div>

</div>

</form>

<partial name = "ParkedVehiclesPartial" model = "@Model.ParkedVehicles" />
