@{
    ViewData["Title"] = "Home Page";
    ViewData["Active"] = "Index";
}

<div class="text-center">
    <h1 class="my-3 display-4">Välkommen till ditt eget garage!</h1>
    <h5 class ="my-3">Hantera ditt garage. Checka in, ut, redigera, ta bort fordon och visa detaljerna.</h5>
    <h5>Allt på ett ställe</h5>
</div>
