@{
    ViewData["Title"] = "Privacy Policy";
    ViewData["Active"] = "Privacy";
}
<h1>@ViewData["Title"]</h1>

<h5 class = "my-3">Detta är vår integritetspolicy</h5>

<p class = "my-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis varius maximus maximus. Integer id fermentum diam. Sed dui augue, pharetra sit amet accumsan eu, interdum eget diam. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur convallis lacinia neque ac accumsan. Praesent eu neque nec leo sodales cursus. Maecenas dui turpis, rhoncus sed porta id, ornare sit amet neque. Pellentesque blandit congue ligula, vel fringilla nisl consectetur nec. Quisque ex eros, maximus ultrices enim id, semper interdum neque.

Vivamus feugiat rutrum maximus. Quisque nec turpis orci. Fusce ultricies risus orci, vitae ornare risus efficitur et. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse porta sapien vitae vestibulum rhoncus. Nam consectetur imperdiet lorem, sed imperdiet augue convallis a. Quisque quis nisi et eros volutpat fermentum sed nec odio.</p>
